{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}EZ_university{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

      <!-- Your stuff: Third-party CSS libraries go here -->
      {% compress css %}
      <!-- This file stores project-specific CSS -->

      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css"
            href="{% static 'coursinfo/normalize.css' %}">
      <link rel="stylesheet" type="text/css"
            href="{% static 'courseinfo/skeleton.css' %}">
      <link rel="stylesheet" type="text/css"
            href="{% static 'courseinfo/style.css' %}">

      {% endcompress %}

    {% endblock %}

  </head>

  <body>
    <div class="container">
    <header class="row">
        <div class="offset-by-one ten columns">
            <h1 class="logo">EZ University</h1>
            <h2>Course Information System</h2>
        </div>
    </header>
    <nav>
      <ul>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'courseinfo:instructor_list' %}">Instructors</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'courseinfo:section_list' %}">Sections</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'courseinfo:course_list' %}">Courses</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'courseinfo:semester_list' %}">Semesters</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'courseinfo:student_list' %}">Students</a>
          </li>

          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
          </li>

          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          </li>

        {% else %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
          </li>
        {% endif %}
        <li class="nav-item">
          {# This link any user should be able to see, even if they are not logged in#}
          <a id="log-in-link" class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
        </li>
      </ul>
    </nav>
    {% if messages %}
        <div class="row">
            <div class="twelve columns">
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags %}
                            <li class="{{ message.tags }}">
                                {% else %}
                            <li>
                        {% endif %}
                    {{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <main>
    {% block content %}
      <div class="row">
        <section class="eight columns">
          {% block org_content %}
            This is default content!
          {% endblock %}
        </section>
        <section class="desktop four columns">
          {% block create_button %}{% endblock %}
        </section>
      </div>
      <div class="row">
        <div class="twelve columns">
          {% block content_footer %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    </main>
  </div><!-- container -->

  <footer>
    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0"
                 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
        </a><br/><span property="dct:title">EZ University Tutorial Examples and Code</span>
        by
        <a href="https://www.ligent.net" property="cc:attributionName"
           rel="cc:attributionURL">Ligent, LLC</a> are licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike
            4.0 International License</a>.
    </p>
    <p>Portions of the EZ University code are based upon code from
        <a href="https://django-unleashed.com">Django Unleashed</a>,
        <a href="http://getskeleton.com/">Skeleton</a>, and
        <a href="https://necolas.github.io/normalize.css/">Normalize.css</a> and
        are subject to the intellectual property rights restrictions of those works.
    </p>
  </footer>



    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Required by Bootstrap v4 beta -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

    {% endblock javascript %}
  </body>
</html>

