{% extends 'courseinfo/courseinfo_base.html' %}

{% block title %}
  Course - {{ course }}
{% endblock %}

{% block extended_content %}
  <h2> {{  course }} </h2>

  <div>
    <a class="btn btn-secondary" href="{{ course.get_update_url }}">
      Update Course
    </a>
    <a class="btn btn-danger" href="{{ course.get_delete_url }}">
      Remove Course
    </a>
  </div>

  <section>
    <br/>
    <h3>Course Name and Number</h3>
    <p>{{ course.course_number }} - {{ course.course_name }}</p>
    <br/>
  </section>

  <section>
    <h2> Section List </h2>
    <ul>
      {%  for section in course.sections.all %}
        <li>
          <a href="{{ section.get_absolute_url }}">{{ section }}</a>
        </li>
        {% empty %}
          <li><em>There are currently no sections available.</em></li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
