{% extends 'courseinfo/courseinfo_base.html' %}

{% block title %}
  Instructor - {{ instructor }}
{% endblock %}

{% block extended_content %}
  <h2> {{  instructor }} </h2>

  <section>
    <h3>First Name</h3>
    <p>{{ instructor.first_name }}</p>
    <h3>Last Name</h3>
    <p>{{ instructor.last_name }}</p>
  </section>

  <section>
    <h3>Sections</h3>
    {%  for section in instructor.sections.all %}
      <li>
        <a href="{% url 'courseinfo:section_detail' section.pk %}">{{ section }}</a>
      </li>
      {% empty %}
        <li><em>{{  instructor }} is not currently teaching any sections. </em></li>
    {% endfor %}
  </section>
{% endblock %}
