{% extends 'courseinfo/courseinfo_base.html' %}

{% block title %}
  Section - {{ section }}
{% endblock %}

{% block extended_content %}
  <h2> {{  section }} </h2>

  <div>
    <a class="btn btn-secondary" href="{{ section.get_update_url }}">
      Update Section
    </a>
    <a class="btn btn-danger" href="{{ section.get_delete_url }}">
      Remove Section
    </a>
  </div>

  <section>
    <br/>
    <h3>Section Name</h3>
    <p>{{ section.section_name }}</p>
    <br/>
    <h3>Semester</h3>
    <a  href="{{ section.semester.get_absolute_url }}">{{ section.semester }}</a>
    <p><br/></p>
    <h3>Course</h3>
    <a  href="{{ section.course.get_absolute_url }}">{{ section.course }}</a>
    <p><br/></p>

  </section>

 <section>

    <h2> Instructor List </h2>
    <ul>
      {%  for instructor in section.instructors.all %}
        <li>
          <a href="{{ instructor.get_absolute_url }}">{{ instructor }}</a>
        </li>
        {% empty %}
          <li><em>There are currently no instructors available.</em></li>
      {% endfor %}
    </ul>

    <br/>
    <h2> Student List </h2>
    <ul>
      {%  for student in section.students.all %}
        <li>
          <a href="{{ student.get_absolute_url }}">{{ student }}</a>
        </li>
        {% empty %}
          <li><em>There are currently no students available.</em></li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
