{% extends 'courseinfo/courseinfo_base.html' %}

{% block title %}
  Section - {{ section }}
{% endblock %}

{% block extended_content %}
  <h2> {{  section }} </h2>

  <section>
    <h3>Course</h3>
    <p>{{ section.course }}</p>
    <h3>Section</h3>
    <p>{{ section.section_name }}</p>
  </section>

  <section>
    <ul>
      <h3>Sections</h3>
      {%  for section in object_list.section %}
        <li>
          <a href="{% url 'courseinfo:section_detail' section.pk %}">{{ section }}</a>
        </li>
        {% empty %}
          <li><em>{{  instructor }} is not currently teaching any sections. </em></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
